.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.ok {
  background: #B8F1BC; }

.warning {
  background: #F7D18E; }

.critical {
  background: #FF3C43; }
